@import "../../../global.less";

.nav-bar{
    background-color: @object-color;
    height: 100px;
    color: @main-color;
}
table{
    margin-top: 60px;
    // display: flex;
    // justify-content: center;
    .table-head{
        background-color: @object-color;
        color: @main-color;
        tr{
            color: white;
            th{
                color: white;
                padding: 50px;
            }
        }
    }
    tbody{
        tr{
            td{
                display: block;
            }
        }
    }
}
