.sponsors {
	display: flex;
	justify-content: center;
	align-items: center;
	
	a {
		width: 270px;
		text-align: center;
		padding: 20px 0;
		margin: 0 30px;

		&:hover {
			background-color: #FFF;
			
			img {
				filter: invert(100%);
			}
		}
	}
}
footer {
	text-align: center;
	padding: 20px;
	
	h3 {
		color: white;
		font-weight: lighter;
	}

	a {
		text-decoration: none;
		color: #bcbcf1;
		font-weight: bold;
	}
}
