.navbar {
    overflow: hidden;
    padding: 0;
    background-color: #D9D9D9;
    width: 80%;
    margin: auto;
    position: relative;
    top: -50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        li {
            display: inline-block;
            padding-right: 30px;
            font-size: 30px;
            cursor: pointer;
        }
    }
}
.header {
    background-image: url("https://cdn.discordapp.com/attachments/1051812367723409468/1053027734550491196/image.png");
    background-size: cover;
    background-attachment: fixed;
    min-height: 90vh;

    .icons {
        position: absolute;
        right: -0.01%;
        display: flex;
        justify-content: right;
        padding-right: 10px;
        img {
            padding-right: 30px;
        }
    }

    .content {
        position: relative;
        padding: 10%;
        
        h1 {
            text-align: center;
            color: white;
        }
        h3 {
            text-align: center;
            color: white;
        }

        img {
            position: relative;
            left: 50%;
            margin-bottom: 30px;
            -webkit-transform: translateX(-50%);
               -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                 -o-transform: translateX(-50%);
                    transform: translateX(-50%);
        }
    }
}

.is-hidden {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 600px) {
    .icons {
        visibility: hidden;
    }
}