.header {
    background-image: url("https://cdn.discordapp.com/attachments/1051812367723409468/1053027734550491196/image.png");
    background-size: cover;
    background-attachment: fixed;
    // min-height: 90vh;
    height: 700px;
    width: 100%;

    .icons {
        position: absolute;
        right: -0.01%;
        display: flex;
        justify-content: right;
        padding-right: 10px;
        img {
            padding-right: 30px;
        }
    }

    .content {
        position: relative;
        padding: 10%;
        
        h1 {
            text-align: center;
            color: white;
        }
        h3 {
            text-align: center;
            color: white;
        }

        img {
            position: relative;
            left: 50%;
            margin-bottom: 30px;
            -webkit-transform: translateX(-50%);
               -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                 -o-transform: translateX(-50%);
                    transform: translateX(-50%);
        }
    }
}

.is-hidden {
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    
    transition: width .2s;
}

.fixed {
    position: sticky;
}

@media only screen and (max-width: 600px) {
    .icons {
        visibility: hidden;
    }
}
