@import "../../global.less";
main{
    margin-top: 60px;
}
.pos-obj{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    .class-obj{
        cursor: pointer;
        border-radius: 20px;
        width: 200px;
        height: 200px;
        line-height: 200px;
        text-align: center;
        background-color: @main-color;
        transition: background-color 0.3s, color 0.3s;
        &:hover{
            background-color: @object-color;
            color: @main-color;
        }
        h1{
            font-size: 30px;
            font-weight: bold;
        }
    }
}
.input{
    margin-top: 40px;
    margin-bottom: 80px;
    width: 50px;
    font-size: xx-large;
}
.pos-search{
    display: flex;
    justify-content: center;

}
