
input {
  display: block;
  width: auto;
  margin: 20px auto;
  padding: 10px 45px;
  background: #b6b6b6;
  background-size: 15px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}


    div{
        main{
            div{
                div{
                    background: #b6b6b6;
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 6;
                }
            }
        }
    }
    .pos-obj{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;

    }