@import "../../global.less";

.pos-obj{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    .class-obj{
        cursor: pointer;
        width: 200px;
        height: 200px;
        text-align: center;
        vertical-align: middle;
        line-height: 6;
        background-color: @main-color;
        transition: background-color 0.3s, color 0.3s;
        &:hover{
            background-color: @object-color;
            color: @main-color;
        }
    }
}
.input{
    margin-top: 40px;
    margin-bottom: 80px;
    width: 50px;
    font-size: xx-large;
}
.pos-search{
    display: flex;
    justify-content: center;
    
}



  